:root:root {
  --van-index-bar-index-font-size: 14px;
  --van-index-bar-index-line-height: 16px;
  --van-index-anchor-font-size: 24px;
  --van-index-anchor-line-height: 30px;
  --van-index-bar-index-active-color: white;
}

@media screen and (min-width: 768px) {
  :root:root {
    --van-index-bar-index-font-size: 24px;
    --van-index-bar-index-line-height: 32px;
    --van-index-anchor-font-size: 38px;
    --van-index-anchor-line-height: 44px;
  }
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}
